<body
  class="bg-background-light dark:bg-background-dark font-display text-gray-800 dark:text-gray-200"
>
  <div class="flex flex-col min-h-screen">
    <header
      class="flex items-center justify-between px-6 py-3 border-b border-gray-200 dark:border-gray-800 shrink-0"
    >
      <div class="flex items-center gap-3">
        <div class="w-8 h-8 text-primary">
          <svg
            fill="none"
            viewBox="0 0 48 48"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M36.7273 44C33.9891 44 31.6043 39.8386 30.3636 33.69C29.123 39.8386 26.7382 44 24 44C21.2618 44 18.877 39.8386 17.6364 33.69C16.3957 39.8386 14.0109 44 11.2727 44C7.25611 44 4 35.0457 4 24C4 12.9543 7.25611 4 11.2727 4C14.0109 4 16.3957 8.16144 17.6364 14.31C18.877 8.16144 21.2618 4 24 4C26.7382 4 29.123 8.16144 30.3636 14.31C31.6043 8.16144 33.9891 4 36.7273 4C40.7439 4 44 12.9543 44 24C44 35.0457 40.7439 44 36.7273 44Z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        <h1 class="text-xl font-bold text-gray-900 dark:text-white">Connect</h1>
      </div>
      <div class="flex items-center gap-4">
        <button
          class="flex items-center justify-center w-10 h-10 rounded-full bg-primary/10 text-primary dark:bg-primary/20 hover:bg-primary/20 dark:hover:bg-primary/30 transition-colors"
        >
          <span class="material-symbols-outlined">help</span>
        </button>
        <div
          class="w-10 h-10 bg-center bg-no-repeat bg-cover rounded-full"
          style="
            background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDVQqA9tplZrUS_nM-4ATzaoMH-Tcg045pszhGK2iHb-Rdf97nbPfZEbbFAL55CsqzIFw0UZtwrqNISWN6Zk8vTMAeZyqKTZi91iaZrG1gOaeUiz1fJyT5j8OcWpXDDYnFswm-hzc4KFAuEPJAkuIMBVEZJOpk1U5-b6wSCdO1ajBwoLj0CI2wwMpKDjyG2SNJ3MFWfF2XfcPkJ2714fr_qGbOzjgVFcJUuegdKimDbtmluF0xq1IV9Bn2lthnIAx9epQTXuEeM-eY');
          "
        ></div>
      </div>
    </header>
    <main class="flex flex-1 overflow-hidden">
      <app-contact-list
        [contacts]="contacts"
        (newContact)="handleNewContact()"
        (contactSelected)="handleContactSelected($event)"
        class="w-96 border-r border-gray-200 dark:border-gray-800 flex flex-col"
      ></app-contact-list>
      <app-contact-info
        *ngIf="isAddingNewContact == false; else elseBlock"
        (contactinfo)="handleEditContact($event)"
        (deleteContact)="handleDeleteContact($event)"
        [contact]="selectedContact"
        class="flex-1 flex flex-col p-8"
      ></app-contact-info>
      <ng-template #elseBlock>
        <app-contact-form
          (newContact)="cancelNewContact()"
          [contact]="selectedContact"
          class="flex-1 flex flex-col p-8"
        ></app-contact-form>
      </ng-template>
    </main>
  </div>
</body>
